*.log
*.pot
*.pyc
.gitignore~
*.*~
.idea/*
#*.sqlite
#*.sqlite3
.DS_Store
*.sublime-project
*.sublime-workspace
.ropeproject/
Vagrantfile
.vagrant
dist/*
build/*
media/*
temp/
settings/3local.py
fab_private.py
webpack/node_modules/*
gotovim_front/*
gotovim_front/.git/*
gotovim_front/.idea/*
gotovim_front/.DS_Store
gotovim_front/webpack/node_modules/*